*.egg-info

.venv/
__pycache__/
*.pyc
.env
.DS_Store
scripts/labels_encoded.npy
scripts/spectrograms_resized.npy
scripts/workbook2.ipynb
scripts/workbook3.ipynb
scripts/workbook4.ipynb
# Ignore all output files
*.png
*.jpg
*.npy
*.wav
*.pdf
*.pt
*.h5
*.csv

# Ignore output folders
spectrograms/
outputs/
results/
data/
logs/

# Jupyter/IPython checkpoints
.ipynb_checkpoints/

# Ignore any large files or temp files
*.log
*.tmp
